#body {
    padding-top: 10px;
}

.navbar {
    background-color: white;
    border: 0;
    margin-bottom: 20px;
}

.navbar .container {
    background-color: #9FF2F8;
    background-image: -moz-linear-gradient(top, #00318A, #003e6b);
    background-image: -ms-linear-gradient(top, #00318A, #003e6b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00318A), to(#003e6b));
    background-image: -webkit-linear-gradient(top, #00318A, #003e6b);
    background-image: -o-linear-gradient(top, #00318A, #003e6b);
    background-image: linear-gradient(top, #00318A, #003e6b);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.btn {
    background-color: white;
}

.icon-white {
    color: white;
}
